<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Purchase Details</h5>
          <p>
            <strong>ID</strong>: {{purchase.id}}</p>
          <p>
          <p>
            <strong>Purchase Name</strong>: {{purchase.name}}</p>
          <p>
            <strong>Description:</strong> {{purchase.description}}</p>
             <p>
            <strong>Price:</strong> {{purchase.price}}</p>
             <p>
            <strong>Date of Purchase:</strong> {{purchase.date}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
